@import '../../../assets/mixins/index.scss';

.experience{
    background-color: #3232EA;

    .experienceWrapper{

        padding: 4rem 2rem;

        .title{
            color: #fff;
        }

        .experienceList{
            position: relative;
            width: 50%;
            margin: auto;
            margin-top: 2rem;
            
            .experienceListItem{
                position: absolute;

                &:nth-child(1) > span{
                    position: absolute;
                    top: 35%;
                    left: 20%;
                    font-size: 1.5rem;
                    transform: rotate(352deg);
                    
                }

                &:nth-child(2) {
                    top: 150px;
                    left: 90px;
                    @include tablet-md {
                        left: 150px;
                    }
                    & > span{
                        width: 100px;
                        text-align: center;
                        position: absolute;
                        top: 38%;
                        left: 35%;
                        transform: rotate(3deg);
                        font-size: 1.5rem;
                    }
                }

                &:nth-child(3) {
                    top: 350px;
                    left: -30px;
                     @include tablet-md {
                       top: 20px;
                       left: 400px;
                    }
                    & > span{
                        position: absolute;
                        top: 45%;
                        left: 40%;
                        font-size: 1.5rem;
                    }
                }
            }
            
        }
    }
    
}